.sign-in-page{
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto auto auto ;
    justify-items: center;

    &__buttons{
        display: grid;
        grid-template-columns: auto auto auto ;
        gap:0.625rem;
    }
}

.go-back {
    justify-self:start;
    font-size: 0.8125rem;
  }


.login-button{
    background-color: white;
    border-radius: 1.5625rem;
    border: 0.0625rem solid black;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 0;

    &__google{
        align-self: center;
        height: 1.875rem;
        width: 1.875rem;
    }
    &__facebook{
        align-self: center;
        height: 1.875rem;
        width: 1.875rem;
    }
    &__github{
        align-self: center;
        height: 1.875rem;
        width: 1.875rem;
    }
}