<div class='sign-in-page'>
    <button type="button" class="btn-clean go-back" (click)="goBack()">
      <img class="go-back__icon" src="https://img.icons8.com/android/24/000000/back.png"/>
  </button>
    <h1>Bienvenue !</h1>
    <div class="image">
        <img src="assets/img/logo_icon.png" />
    </div>

    <p>Se connecter</p>

    <div class="sign-in-page__buttons" *ngIf="!(isConnected$ | async)">
        <button class="login-button" type="submit" (click)="loginWithGoogle()">
    <img class="login-button__google" src="https://img.icons8.com/fluent/48/000000/google-logo.png"/>
    </button>
        <button class="login-button" type="submit" (click)="loginWithFacebook()">
      <img class="login-button__facebook"src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
    </button>
        <button class="login-button" type="submit" (click)="loginWithGithub()">
      <img class="login-button__github" src="https://img.icons8.com/material-sharp/24/000000/github.png"/>
    </button>
    </div>
</div>