<div class="divAll">
    <button type="button" class="btn-clean go-back" (click)="goBack()">
        <img class ="go-back__icon" src="https://img.icons8.com/android/24/000000/back.png"/>
      </button>
      
      <div *ngIf="(user$ | async) as user">
          <div class='profilePicture'>
              <img class="profilePicture__photo" [src]="user.photoUrl" alt="" width="72" height="72" />
          </div>
          <form *ngIf="profileFormGroup" id="profile" [formGroup]="profileFormGroup" class="profile-form">
              <p appearance="outline" *ngFor="let inputItem of inputItems; trackBy: trackByInputItem" [class]="'profile-form__'+inputItem.class">
                  <label>{{ inputItem.label }}</label>
                  <br>
                  <input [formControlName]="inputItem.formControlName" disabled class="inputInfo" />
              </p>
          </form>
          <br>
          <button mat-raised-button color="warn" class="btnSeDeconnecter" (click)="signOut()">Se déconnecter</button>
      </div>
      <div *ngIf="!(user$ | async)">
          Vous allez être redirigé vers la page de connexion dans une secondes ...
      </div>
</div>