.profilePicture {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    &__photo {
        border-radius: 3.125rem;
        border: 0.0625rem solid inherit;
        justify-self: center;
    }
}

.profile-form {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5rem;
}

.btnSeDeconnecter {
    margin-left: 5rem;
}

.inputInfo {
    width: 70%;
    height: 50%;
}