
<h1 mat-dialog-title>Ajouter un film à une liste</h1>
<ng-container *ngIf="user$ | async; else notConnected">
<div mat-dialog-content>
    <p>Choisissez une liste pour ajouter le film</p>
    <form *ngIf="addToListFormGroup" [formGroup]="addToListFormGroup">
      
      <mat-form-field appearance="fill" (click)="stopPropagation($event)">
        <mat-label>Nom de la liste</mat-label>
        <mat-select formControlName="id">
          <mat-option value="~!//CreateList//!~">
            Créer une nouvelle liste
          </mat-option>
          <mat-option *ngFor="let list of (userList$|async)" [value]="list.id">
              {{list.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" (click)="stopPropagation($event)" *ngIf="id.value==='~!//CreateList//!~'">
      <mat-label>Nom de la liste</mat-label>
      <input matInput type="text" formControlName="createName"/>
    </mat-form-field>
    </form>
  </div>
    
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button (click)="onConfirm()" cdkFocusInitial>Confirmer</button>
  </div>
</ng-container>

<ng-template #notConnected>
  <div mat-dialog-content>
      <p>Vous devez être connecté pour ajouter un film à une liste</p>
  </div>
    
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button (click)="goToLoginPage()" cdkFocusInitial>Se connecter</button>
  </div>
</ng-template>
