.menu {
    height: 100%;
    width: 100%;
    background-color: #69779A;
    display: grid;
    grid-template-columns: 40% 30% 10% 10%;
    gap: 2.5%;
    &--list {
        grid-column: 3;
    }
    &--user {
        grid-column: 4;
    }
    &--sign-in {
        grid-column: 4;
    }
}

img.icon {
    max-width: 1.875rem;
}

.menu--logo {
    width: 100%;
    height: auto;
}