<div class="menu">
    <button class="btn-clean" (click)="goToHome()">
        <img class="menu--logo" src="assets/img/logo.png" height="30px"/> 
    </button>
    <button *ngIf="(isConnected$ | async)" class="btn-clean menu--list" (click)="goToList()">
        <img class="icon" src="assets/img/list.png">
    </button>
    <button *ngIf="!(isConnected$ | async)" class="btn-clean menu--sign-in" (click)="goToLogin()">
        <img class="icon" src="assets/img/user.png">
    </button>
    <button *ngIf="(isConnected$ | async)" class="btn-clean menu--user" (click)="goToMember()">
        <img class="icon"src="assets/img/user.png">
    </button>
</div>