<ng-container *ngIf="user$|async as user">
    <div class = "preview-film" *ngIf="filmInfo$ | async as filmInfo">
        <img src="https://www.themoviedb.org/t/p/w260_and_h390_bestv2/{{filmInfo.poster_path}}" class="preview-film__picture" alt=""/>
        <div class="film">
            <div class = "film__info">
                <span class="film__info__title"><b>Titre : </b>{{filmInfo.title}}</span> 
                <b>Langue : </b>{{filmInfo.original_language | language}}<br>
                <b>Categorie :</b> 
                <ul>
                    <li *ngFor="let genre of filmInfo.genres">{{genre.name}}</li>
                </ul>
                <b>Note : </b>{{filmInfo.vote_average}}/10
            </div>
            <button type= "button" class= "btn-clean film__delete" (click)="SupprimerFilmListe(user.email,filmInfo.title,filmInfo.title)">
                <img src="https://img.icons8.com/metro/452/trash.png" width="25px" alt="">
            </button>
        </div>
    </div>
</ng-container>
