.preview-film{
    display: grid;
    grid-template-columns: 50% 45%;
    gap:3%;
    margin-top: 10px;

    &__picture{
        width: 90%;
        
        justify-self: end;
    }
}



.film{
    display: grid;
    grid-template-rows: 90% 10%;
   
    &__info{
        &__title{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &__delete{
        justify-self: end;
    }

}

.supp-film__icon{
    padding-right: 0%;
    width: 25px;
}

button.supp-film{
    position: relative;
    right:    0;
    bottom:   0;
 }
