<div class="list-container" *ngIf="(user$|async) as User">
  <div class="header">
    <button type ="button" class="btn-clean go-back" (click)="goBack()">
      <img class ="go-back__icon" src="https://img.icons8.com/android/24/000000/back.png"/>
    </button>
    <h2 class="header--title">Mes Listes</h2>
  </div>

  <div class="list" *ngIf="(userLists$ | async) as UserLists">
      <ul class="list--group-item">
          <app-list-of-list *ngFor="let list of UserLists" [listName]="list.name" [listId]="list.id"></app-list-of-list>
      </ul>
  </div>
  <button class="btn-clean add-to-list" (click)="createList(User.email)">
    <span class="material-icons add-to-list--logo"> add_circle</span>Créer une liste
  </button>
</div>

