.list-container {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 78% 10%;
    gap: 1%;
    background-color: #f4f2f3;
}

.header {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 85%;
    align-items: center;
    gap: 5%;
    &--title {
        margin: 0 0;
    }
}

.list {
    overflow-y: scroll;
    &--group-item {
        margin: 0 0;
        padding: 0 0;
        border-bottom: 0.0625rem solid;
    }
}

.add-to-list {
    border-top: 0.0625rem solid;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 2%;
    align-items: center;
    justify-items: start;
    &--logo {
        justify-self: end;
    }
}