<div class="main-container" *ngIf="(film$ | async) as film">
    <section class="header">
        <button type="button" class="btn-clean go-back" (click)="goBack()">
            <img class="go-back__icon" src="https://img.icons8.com/android/24/000000/back.png"/>
        </button>
        <h2 class="header--title">{{ film.title }}</h2>
    </section>
    <div class="content">
        <div class="film">
            <img src="https://www.themoviedb.org/t/p/w260_and_h390_bestv2/{{film.poster_path}}" class="film__poster" alt=""/>
            <div class="film__info">
                <div class="film__info--entry">
                    <p><b>Date de sortie : </b> {{film.release_date | date: "dd/MM/yyyy" }}</p> 
                </div>
                <div class="film__info--entry">
                    <p><b>Langue : </b> {{film.original_language | language}}</p> 
                </div>
                <div class="film__info--entry">
                    <b>Categories :</b>
                </div>
                    <ul>
                        <li *ngFor="let genre of film.genres">{{genre.name}}</li>
                    </ul>
                    
                <div class="film__info--entry">
                    <p><b>Note : </b>{{film.vote_average}}/10</p> 
                </div>
            </div>
            <div class="film__description">
                <h3>Description</h3>
                <p>
                    {{ film.overview }}
                </p>
            </div>
            <section class="film__actors">
                <h3 class="cast-header">Acteurs</h3>
                <div class="cast-container" *ngIf="credits$|async as credits">
                    <div *ngIf="!credits.cast.length">
                        <p>Il n'y a pas d'acteurs dans ce film</p>
                    </div>
                    <app-actor *ngFor="let actor of credits.cast" [actor]="actor"></app-actor>
                </div>
            </section>
        </div>
        
    </div>
    <button class="btn-clean add-to-list" (click)="addList()">
        <span class="material-icons add-to-list--logo"> add_circle</span>Ajouter à une liste
    </button>
</div>
