.main-container {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 78% 10%;
    gap:1%;
}

.header {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 85%;
    align-items: center;
    gap:5%;
    
    &--title{
        margin: 0 0;
    }
}

.content{
    height: 100%;
    overflow-y: scroll;
}

.film{
    display: grid;
    grid-template-columns: 50% 45%;
    padding: 0 10%;
    gap: 5%;

    &__poster{
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    }

    &__info{
        width: 100%;
        font-size: medium;
        padding: 3%;
        display: inline-block;
        border: 3px solid #333333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    }

    &__description{
        height: 100%;
        overflow-y: scroll;
        grid-column: 1/span 2;
        display: inline-block;
        border: 3px solid #333333;
        font-size: medium;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        margin-top: 5px;
        padding: 5px 10px 0 10px;


        h3 {
            margin:0;
        }
        p{
            text-align: justify;
        }
    }

    &__actors{
        grid-column: 1/span 2;
    }
}

.cast-header {
    margin: 0 0;
}

.cast-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.add-to-list {
    border-top: 0.0625rem solid;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 58%;
    gap:2%;
    align-items: center;
    justify-items: start;

    &--logo{
        justify-self: end;
    }
}