<h1 mat-dialog-title>Création de la liste</h1>
<div mat-dialog-content>
  <p>Quel est le nom de la liste ?</p>
  <form *ngIf="createListFormGroup" [formGroup]="createListFormGroup">
      <mat-form-field>
        <mat-label>Nom de la liste</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onConfirm()" cdkFocusInitial>Confirmer</button>
</div>