<h1 mat-dialog-title>Suppression d'un film</h1>
<div mat-dialog-content>
  <p>Êtes vous sûr de vouloir supprimer le film <b>{{data.filmName}}</b> de la liste <b>{{data.listName}}</b>?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button color="warn" (click)="onConfirm()" cdkFocusInitial>Confirmer</button>
</div>