
<ng-container *ngIf="(user$|async) as user">
    <ng-container *ngIf="(userList$ |async)  as userList">
        <div class="preview-list-container" *ngIf="userList.length>+id">
            <div class="info-list">
                <button type="button" class="btn-clean" (click)="goBack()">
                    <img class="go-back__icon" src="https://img.icons8.com/android/24/000000/back.png"/>
                </button>
                <h1>{{userList[id]?.name}}</h1>
                <button type= "button" class= "btn-clean info-list__delete" (click)="deleteList(user.email,userList[id]?.name)">
                    <img src="https://img.icons8.com/metro/452/trash.png" class ="delete-icon" alt="">
                </button>
            </div>
    
            <div class="films">
                <ng-container *ngFor="let id of userList[id]?.films;let index = index">
                    <app-film-preview-list [filmId]="id" [index]="index" [listName]='id.name'></app-film-preview-list>     
                </ng-container>
            </div>
    
            <ng-container *ngIf="!userList[id]?.films?.length">
                Il n'y a aucun film dans la liste
            </ng-container>
        </div>
    </ng-container>
</ng-container>

