.preview-list-container {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 89% ;
    gap:1%;
}

.info-list{
    height: 100%;
    display: grid;
    grid-template-columns: 10% 78% 10%;
    align-items: center;
    justify-items: center;
}

.films{
    overflow-y: scroll;

    &__preview{
        margin-bottom: 20px;
    }
}

.delete-icon{
   width: 1.5625rem;
}
