.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}

.header {
    position: fixed;
    width: 100%;
    height: 10%;
}

.content {
    grid-row: 2;
    background-color: #f4f2f3;
}