<div class="homepage-container">
    <div class="search">
        <form [formGroup]="queryGroup">
            <mat-form-field appearance="outline" class="search__input">
                <mat-label>Recherche par nom...</mat-label>
                <input matInput type="text" formControlName="query"/>
            </mat-form-field>
        </form>
        <button class="btn-clean search__input__button" type="button" (click)="submitQuery()">
            <span class="material-icons search__input__icon">
                search
            </span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="btn-clean search__filters" >
            <mat-icon >filter_list</mat-icon>
        </button>
    </div>
    <ng-container  *ngIf="listFilm$|async as films">
        <div class="table-of-films" *ngIf="films.results.length; else noMovie">
            <ng-container *ngFor="let film of films.results">
                <app-film *ngIf="film.poster_path" [filmResult]="film" class="film"></app-film>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #noMovie>
        Il n'y a aucun film correspondant à votre recherche
    </ng-template>
</div>


<mat-menu #menu="matMenu"  class="filters">
    <form [formGroup]="filtersFormGroup" *ngIf="filtersFormGroup">
        <span mat-menu-item>
            <span>Durée max</span>
            <mat-slider
            max="240"
            min="0"
            step="10"
            formControlName="max_duration"
            class="sliders"
            ></mat-slider>
            {{sliderValue$|async}}
        </span>
        <span mat-menu-item>
        <mat-form-field appearance="fill" (click)="stopPropagation($event)" class="filters__year">
            <mat-label>Année de sortie</mat-label>
            <input matInput type='number' formControlName="year" [value]="" minlength="4" maxlength="4">
        </mat-form-field>
        </span>
        <span mat-menu-item>
        <mat-form-field appearance="fill"  (click)="stopPropagation($event)" class="filters__genre">
            <mat-label>Genre</mat-label>
            <mat-select name="gender" formControlName="genre">
                <mat-option *ngFor="let genre of genres" [value]="genre.id">
                    {{genre.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </span>
        <span mat-menu-item>
        <mat-form-field appearance="fill" (click)="stopPropagation($event)" class="filters__language">
            <mat-label>Langue</mat-label>
            <mat-select name="language" formControlName="language">
                <mat-option *ngFor="let language of languages" [value]="language.iso_639_1">
                    {{language.french_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </span>
        <button mat-raised-button class="submit-btn" type="button" (click)="submitFilters()">OK</button>
    </form>
</mat-menu>