.homepage-container {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 89%;
    gap: 1%;
    background-color: #f4f3f2;
}

.sliders {
    width: 50px;
}

.search {
    margin-left: 3%;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 15% 12%;
    gap: 1%;
    align-items: center;
    &__input {
        font-size: 0.75rem;
        width: 100%;
        &__icon {
            color: #d1e1f5;
        }
        &__button {
            background-color: #69779A;
            border: 1px solid #69779A;
            border-radius: 10px;
            height: 60%;
            width: 80%;
        }
    }
    &__filters {
        justify-self: center;
    }
}

.table-of-films {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.submit-btn {
    width: 88%;
    margin-left: 5%;
    margin-top: 0.625rem;
}

:host ::ng-deep div.mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep mat-slider.mat-slider-horizontal {
    min-width: 120px;
}

::ng-deep .filters {
    width: 300px;
    &__year {
        width: 100%;
    }
    &__genre {
        width: 100%;
    }
    &__language {
        width: 100%;
    }
}