.actor {
    text-align: center;
    margin: 0 7px;
    img {
        border-radius: 35px;
       object-fit: cover;
        height: 70px;
        width: 70px;
    }

    &--name {
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}