<div>
    <img src="https://www.themoviedb.org/t/p/w260_and_h390_bestv2/{{filmResult.poster_path}}" class="image-size" alt="Aiiie" (click)="goToFilm()" />
    <p class="film-title"> {{ filmResult.title }}</p>
</div>