.image-size {
    width: 90%;
    cursor: pointer;
}

div {
    margin-left: 10%;
    background-color: #f4f2f3;
}

.film-title {
    margin-top: 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}