.list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: black;
    text-decoration: none;
    height: 50px;
    border-top: 0.0625rem solid;
    
    padding-left:40px;
    width: 100%;

    &--logo{
        padding-right: 40px;
    }
}