<h1 mat-dialog-title>Suppression d'une liste</h1>
<div mat-dialog-content>
  <p>Êtes vous sûr de vouloir supprimer la liste <b>{{data.listName}}</b> ?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button color="warn" (click)="onConfirm()" cdkFocusInitial>Confirmer</button>
</div>